.cb-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-flow: row;
  }
  
  .mat-checkbox {
    margin-left:20px;
  
  } 
  
  .cb-vertival {
    flex-flow: column;
  }
  
hr{
  border: 0.1vh solid #B5B2A4;

}


.bordingCard{
  border: 0.2vh solid #B5B2A4;
  border-radius: 1.2vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0.5vh;
}

.titleOption{
    width: auto;
    margin:0px;
    font-size: 1.1em;;
}