.bordingCard{
    border: 0.2vh solid #B5B2A4;
    border-radius: 1.2vh;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5vh;
}
.titleOption{
    width: auto;
    margin:0px;
    font-size: 1.1em;
}

.height{
    height: 25px;
}
.margin-top-input{
    margin-top:12px !important;
}
.form-height{
    margin-bottom:0px;
}
.no-margin{
    margin:0px;
}