<!-- Toolbar -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
<mat-toolbar class="app-header">
  <div><a href="#" target="_blank" class="positronx">Endo One</a></div>
</mat-toolbar>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-error appearance="">
          <input matInput formControlName="error" type="text" readonly>
        </mat-error>
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" type="text">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field><br>
        <button type="submit" class="btn btn-primary" >
          Login
        </button>
      </form>
    </mat-card-content>
</div>
