.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.option{
    font-size: 0.9em;
}
.titleOption{
    margin:0px;
    width: auto;
    font-size: 1.1em;
}
hr{
    border: 0.1vh solid #B5B2A4;

}

.bordingCard{
    border: 0.2vh solid #B5B2A4;
    border-radius: 1.2vh;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.5vh;
}
.no-margin{
    margin:0px;
}
.height{
    height: 25px;
}
.margin-top-input{
    margin-top:12px !important;
}
.form-height{
    margin-bottom:0px;
}