
<form class="form-height">
   <div class="row">
      <app-txt-area-field placeholder="Note" [value]="dati_informativi_base_note" fieldName="dati_informativi_base_note"></app-txt-area-field>
   </div>
</form>

<div class="row">
   <app-chk-field label='Comprensione Lingua Italiana' fieldName="lingua_italiana" [value]="lingua_italiana"></app-chk-field><br />
</div>
<!-- <div class="row">
   <app-chk-field label='Digiuno' fieldName="digiuno" [value]="digiuno"></app-chk-field>
</div> -->
<div class="row">
   <app-chk-field label='Gravidanza' fieldName="gravidanza" [value]="gravidanza"></app-chk-field><br />
</div>
<div class="row">
   <app-chk-field label='Allattamento' fieldName="allattamento" [value]="allattamento"></app-chk-field><br />
</div>

